
.styled-table {
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  max-width: 800px;
}

.styled-table thead tr {
  background-color: #327f87;
  color: #ffff;
  text-align: left;
}

.styled-table thead th,
.styled-table thead th {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddd;
}
.start-wrapper {
    text-align: center; /*centruoja start div esancius items*/
  }
  
  .start-button {
    padding: 1rem 3rem;
    background: teal;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    border-radius: 7px;
    font-family: Arial;
    font-style: oblique;
    color: white;
    font-weight: bold;
    /*text-shadow: 2px 2px 5px black;*/
  }
  
  .start-button:hover {
    background: rgb(180, 180, 206);
  }